<h1>Today's Nap Data</h1>
<!-- <input ng-model="search.timestamp"> -->
<table>
    <tbody>
        <th>Duration</th>
        <th>Start Time</th>
        <th>Date</th>
        <tr ng-repeat="nap in naps | filter:today | orderBy:'+timestamp'">
            <td>{{ nap.duration }}</td>
            <td>{{ nap.timestamp | date:'shortTime' }}</td>
            <td>{{ nap.timestamp | date:'mediumDate'}}</td>
            <td><button type="button" class="delete-button" ng-click="deleteNap(nap.id)">Delete</button></td>
        </tr>

    </tbody>
</table>
