<div id="basic-timer" class="timer-container">
    <div class="submit-time timer-button timer-piece" ng-show="timerInitiated && !timerRunning && timerStopped" ng-click="submitTime()">
        <span>Submit<br>Time</span>
    </div>
    <div class="time-container timer-piece" ng-show="timerInitiated">
        <div class="time-section">
            <div class="time hours">0</div>
            <div class="time-label">Hours</div>
        </div>
        <div class="time-section">
            <div class="time minutes">0</div>
            <div class="time-label">Minutes</div>
        </div>
        <div class="time-section">
            <div class="time seconds">0</div>
            <div class="time-label">Seconds</div>
        </div>
    </div>
    <div class="stop-time timer-button timer-piece" ng-show="timerRunning" ng-click="stopTimer()">
        <span>Stop<br>Timer</span>
    </div>
    <div class="resume-time timer-button timer-piece" ng-show="timerInitiated && !timerRunning && timerStopped" ng-click="startTimer()">
        <span>Resume<br>Timer</span>
    </div>
    <div class="start-time timer-button timer-piece" ng-show="!timerInitiated" ng-click="startTimer()">
        <span>Start<br>Timer</span>
    </div>
    <div class="cancel-time timer-button timer-piece" ng-show="timerInitiated && !timerRunning && timerStopped" ng-click="cancelTimer()">
        <span>Cancel<br>Timer</span>
    </div>
</div>
