<div class="nav-wrapper">
    <visualize-data-nav></visualize-data-nav>
</div>

<ui-view>
    <div class="options-container">
        <h1>Options</h1>
        <p>You can visualize data in three different options.</p>
        <div class="list-container">
            <ol>
                <li>View a day's data for one activity type</li>
                <li>View a day's data for all activity types</li>
                <li>View an entire week's data for all activity types</li>
            </ol>
        </div>
    </div>
</ui-view>
