<div class="nap-entry-container">
    <div class="text-container">
        <h1>Nap Entry</h1>
        <p>Use the timer for logging naps, or enter the nap times manually.</p>
        <!-- <p><a class="view-data-link" href="visualize-data.naps">View Nap Data</a></p> -->
    </div>

    <basic-timer ng-show="!manualEntry"></basic-timer>
    <manual-time-entry ng-show="manualEntry"></manual-time-entry>

    <div class="timer-vs-manual-options">
        <p class="or-prompt">Or</p>
        <button class="toggle-button" ng-click="manualEntry = !manualEntry">
            {{!manualEntry ? 'Enter Time Manually' : 'Use Timer'}}
        </button>
    </div>

</div>
